@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-image{
    box-shadow: -30px -30px 24px -20px rgba(0,0,0,0.45),
    30px 30px 24px -20px #f3fff518;
}

@media only screen and (min-width: 1024px) {
  ::-moz-selection { /* Code for Firefox */
    color: #f3fff5;
    background: #38373d;
  }

  ::selection {
    color: #f3fff5;
    background: #38373d;
  }
}